<template>
<div>
    <h4>Total de tareas: {{ totalTasks }}</h4>
    <hr> 
    <div class="header">
        <h2>To Do List</h2>
        <input type="text" placeholder="Title..." v-model="titulito">
        <button @click="enviar" class="addBtn" :disabled="!(titulito.length > 0)">Add</button>
    </div>
    <ul class="myUL" v-if="taskData.length > 0">
        <li><TaskItem v-bind="task" v-for="(task, index) in taskData" :key="index" :id="task.id" :titulo="task.titulo" :completed="task.completed" @eliminar-task="eliminarTask(index)" @task-comp="TareaCom" /></li>
    </ul>
    <p v-else>No hay tareas disponibles</p>
    <hr>
    <h4>Tareas completadas: {{ taskcomP }}</h4>  
</div>
</template>
<script lang="ts" setup>
import TaskData from '@/data/TaskData';
import TaskItem from './TaskItem.vue';
import { ref,computed } from 'vue'
    const taskData = ref(TaskData);
    let siguienteid = 1
    const titulito = ref('')

    const enviar = () =>{
        if(titulito.value.trim()){
            taskData.value.push({
            id: siguienteid++,
            titulo: titulito.value,
            completed: false
        });
        titulito.value = '';
            alert('Tarea agregada con exito')
        }
        else{
            alert('A ocurrido un problema :(')
        }
    }
    const eliminarTask = (index:number) => {
        taskData.value.splice(index, 1);
    }
    const TareaCom = (taskId: number, completed: boolean) => {
        const tarea = taskData.value.find(task => task.id === taskId);
        if (tarea) {
            tarea.completed = completed;
        }
    };
    const totalTasks = computed(() => (taskData.value.length));
    const taskcomP = computed(() => taskData.value.filter(task => task.completed).length);
    
    </script>

<style scoped>
* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
}
.header {
    margin-top: 20px;
    background-color: #f44336;
    padding: 30px 100px;
    color: black;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 8px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: rgb(56, 90, 194);
    color: black;
}
</style>